#ekta1{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#ekta{
    color: red;

}
button{
    background-color:#0096FF;
    border-radius: 5px;
    width: 55px;
    height: 30px;
}
#camera, #result{
    border: 1px;
    border-color: black;
    width: 360px;
    height: 250px;
}
body{
    background: linear-gradient(#66ffcc,#ffccff);
}
